.content {
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.cart_box {
    text-align: center;
    border-bottom: 3px solid rgb(167, 198, 218);
}

.page_heading {
    text-align: center;
    font-family: Helvetica;
    color: rgb(226, 132, 19);
}

.selected_item {
    max-width: 100px;
    width: 100%;
    display: inline-block;
}

.item_description1 {
    display: inline-block;
    font-family: Helvetica;
}

.price1 {
    display: inline-block;
    font-family: Helvetica;
}

.payment_pic {
    height: 50px;
    display: inline-block;
}