body {
    font-family: Helvetica, sans-serif;
    background-color: white;
}

h3 {
    font-size: 40px;
    text-align: center;
}

/*start of test css */

*{
    margin: 10;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}

.wrapper {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-ct {
    width: 100%;
    max-width: 40rem;
    background: linear-gradient(to left, #0e7c7b, #a7c6da);
    position: relative;
    padding: 10rem 0;
    box-shadow: 0 1px 1.5rem rgba(0,0,0,.1);
    border-radius: 1rem;
    z-index: 1;
}


.form-heading {
    color: #ffffff;
    font-size: 2.5rem;
    position: absolute;
    top: 3.5rem;
    left: 10rem;
}

form {
    transform: translateX(10rem);
    padding: 2rem 0;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 1px 1.5rem rgba(0,0,0,.1);
}

.input-group {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: baseline;
}

.input-group input{
    position: relative;
    width: 100%;
    padding: 1rem 0;
    margin-top: .5rem;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: #a7c6da;
}

.input-group.bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: teal;
    width: 100%;
    height: 1px;
}

.input-group button{
    margin: 2rem auto;
    padding: 0.5rem 3rem; 
    border: none;  
    color: #ffffff;
    border-radius: 3rem;

}

/* End of test css*/

.contactus {
    text-align: center;
    color: #e28413;
}

.contactform {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.headervisit {
    text-align: center;
    color: #e28413;
}

.address {
    text-align: center;
    color: black;
    font-size: 20px;
}

#phone {
    text-align: center;
    color: black;
    font-size: 20px;
}

.sitemap {
    width: 35%;
    margin: auto;
}
.map {
    margin: auto;
}


